{% load i18n %}{% load statictheme from theme %}
<article class="dent{%if contextual%} context{%endif%}" id="dent{{dent.id}}">
  <header>
    <a href="{{dent.get_absolute_url}}" class="dentlink">
      <img src="{% statictheme "images/ident_eye_sm.png" %}" title="{% trans "Link" %}" alt="{% trans "Link" %} |"/>
    </a>
    <a href="{{dent.poster.get_absolute_url}}" class="poster">{{dent.poster}}</a>
    <span class="date">{{dent.time|date:"G:i j/m/y"}}{% if dent.in_reply_to%} {% blocktrans with d_id=dent.in_reply_to.id d_url=dent.in_reply_to.get_absolute_url %}in reply to <a href="{{ d_url }}">{{ d_id}}</a>{% endblocktrans %} {%endif%}</span> |
    {% blocktrans with vote_sum=dent.vote_sum count counter=dent.vote_sum %}{{vote_sum}} vote{% plural %}{{vote_sum}} votes{% endblocktrans %}

    {% if user.is_authenticated %}
      {% if perms.dent.can_vote_up %}
        {% if dent.user_vote == 1 %}
    <img src="{% statictheme "images/voted_up.png" %}" title="{% trans "You voted up this one already, remember? Derp!" %}"  alt="{% trans "Voted Up" %}"/>
        {%else%}
    <a href="{% url "dent_vote_up" dent.id %}?next={{request.META.PATH_INFO}}{% if request.META.QUERY_STRING %}?{{request.META.QUERY_STRING}}{% endif %}">
      <img src="{% statictheme "images/hit.png" %}" title="{% trans "Hit" %}"  alt="{% trans "Vote Up" %}"/>
    </a>
        {%endif%}
      {%else%}
    <img src="{% statictheme "images/no_vote_up.png" %}" title="{% trans "Sorry, you'll need more karma to take advantage of this feature!" %}"  alt="{% trans "Cannot Vote Up" %}"/>
      {%endif%}
      {% if perms.dent.can_vote_down %}
        {%if dent.user_vote == -1%}
    <img src="{% statictheme "images/voted_down.png" %}" title="{% trans "You can only shit on a dent once, which you already did! What ARE you smoking?" %}" alt="{% trans "Voted Down" %}"/>
        {%else%}
    <a href="{% url "dent_vote_down" dent.id %}?next={{request.META.PATH_INFO}}{% if request.META.QUERY_STRING %}?{{request.META.QUERY_STRING}}{% endif %}">
      <img src="{% statictheme "images/shit.png" %}" title="{% trans "Shit" %}" alt="{% trans "Vote Down" %}"/>
    </a>
        {%endif%}
      {%else%}
    <img src="{% statictheme "images/no_vote_down.png" %}" title="{% trans "Sorry, you'll need more karma to take advantage of this feature!" %}"  alt="{% trans "Cannot Vote Down" %}"/>
      {%endif%}
    {%endif%} |
    {% if dent.poster == user or perms.dent.change_dent %}
    <a href="{% url "dent_edit" dent.id %}">
      <img src="{% statictheme "images/edit.png" %}" title="{% trans "Edit dent" %}" alt="{% trans "Edit" %} |"/>
    </a>
    {% endif %}
    <a href="{{dent.get_reply_url}}?next={{request.META.PATH_INFO}}">
      <img src="{% statictheme "images/reply.png" %}" title="{% trans "Reply" %}" alt="{% trans "Reply" %}"/>
    </a>
  </header>

  <div class="eycon">
    <a href="{{dent.poster.get_absolute_url}}" class="poster">
      <img src="{{dent.poster.profile.get_avatar_thumb_url}}" class="ava_thumb"/>
    </a>
  </div>

  <p>{{dent.text_as_html}}</p>
</article>

