<!-- navbar start -->{% load i18n %}{% load static from staticfiles %}{% load statictheme from theme %}
<nav class="topNav">
   <div class="div_logo"><a href="{% if user.is_authenticated %}{% url "homepage" %}{% else %}{% url "index" %}{% endif %}" title="{% trans "Freshness guaranteed!" %}" class="logo"><img src="{% statictheme "images/ident_header.png" %}" /></a></div>
   <a href="{% url "membership_page" %}">{% trans "Identists" %}</a>
   <a href="{% url "about_page" %}">{% trans "About" %}</a>
   <a href="/feed">RSS</a>
   {% if user.is_authenticated %}<a href="{% url "index" %}">{% trans "Home" %}</a>{% else %}<a href="{% url "login" %}">{% trans "Log in" %}</a>{% endif %}
   <div class="flags">{% if top %}
<style>
.flags {
  display: inline-block;
  z-index: 1;
}
.flags img {
  padding: 0 10px;
}
</style>{% endif %}
<a>{% if user.is_authenticated %}{% with "images/flags/"|add:user.sitesettings.language|add:".png" as flag_url %}<img src="{% static flag_url %}" alt="{{ user.sitesettings.language }}"/>{% endwith %}</a>{% else %}{% with "images/flags/"|add:LANGUAGE_CODE|add:".png" as flag_url %}<img src="{% static flag_url %}" alt="{{ LANGUAGE_CODE }}"/>{% endwith %}</a>
{% if top %}<style>
.flags:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
}
.flags ul:after {
  content: '';
  display: block;
  clear: both;
}
.flags:hover ul {
  display: block;
}
.flags ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 30px;
  right: 5px;
}
.flags ul li {
  display: inline-block;
}
</style>
<ul>
{% for lang in TRANSLATED_LANGUAGES %}
<li>
<form name="setLang{{ forloop.counter }}" action="/i18n/setlang/" method="POST">{% csrf_token %}
<input name="next" type="hidden" value="{{request.META.PATH_INFO}}" />
<input type="hidden" name="language" value="{{ lang.0 }}" />
<a href="#" onclick="document.forms.setLang{{ forloop.counter }}.submit();return false;">{% with "images/flags/"|add:lang.0|add:".png" as flag_url %}<img src="{% static flag_url %}" alt="{{ lang.0 }}" title="{{ lang.1 }}"/>{% endwith %}</a>
</form>
</li>
{% endfor %}
</ul>
{% endif %}{% endif %}
   </div>
</nav>
<div class="clear"></div>
<!-- navbar end -->
