<div class="pagination">{% load i18n %}
   {% if has_previous %}<span >
      <a href="?page={{ page_obj.previous_page_number }}" class="page">&lsaquo; {% trans "Prev" %}</a>
      </span>
   {% endif %}
   {% if show_first %}
      <span class="page"><a href="?page=1">1</a></span>
      <span class="ellipsis">...</span>
   {% endif %}
   {% for linkpage in page_numbers %}
      {% ifequal linkpage page_obj.number %}
         <span class="page current_page">{{ page_obj.number }}</span>
      {% else %}
         <span class="page"><a href="?page={{ linkpage }}"
               >{{ linkpage }}</a></span>
      {% endifequal %}
   {% endfor %}
   {% if show_last %}
      <span class="ellipsis">...</span>
      <span class="page"><a href="?page=last">{{ paginator.num_pages }}</a></span>
   {% endif %}
   {% if has_next %}<span class="page"><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %} &rsaquo;</a></span>{% endif %}
</div>
