{% load i18n %}
<article class="dent{%if contextual%} context{%endif%}" id="privatedent{{pdent.id}}">
  <header>
    <span class="poster">
      <a href="{{pdent.poster.get_absolute_url}}">{{pdent.poster}}</a>
      {%if not recipient%} &rarr; <a href="{{pdent.rec_user.get_absolute_url}}">{{pdent.rec_user}}</a>{%endif%}
    </span>
    <span class="date">{{pdent.time|date:"G:i j/m/y"}}</span> |
    <a href="{{pdent.get_absolute_url}}">{% trans "Link" %}</a> |
    <a href="{% url "privatedent_delete" pdent.id %}{%if request.META.PATH_INFO != pdent.get_absolute_url%}?next={{request.META.PATH_INFO}}{%endif%}">{% trans "Nuke" %}</a>
  </header>

  <div class="eycon">
    <img src="{{pdent.poster.profile.get_avatar_thumb_url}}" class="ava_thumb"/>
  </div>
  <p>{{pdent.text_as_html}}</p>
</article>

