{% load django_nuages_tag %}{% load i18n %}

<div>
{% if hashtags %}{% compute_tag_cloud hashtags hashtaggeditem__count font_size 10 30 lin %}
{% for hashtag in hashtags %}
<a href="{% url "hashtagged_item_list" hashtag %}"><span style="font-size: {{hashtag.font_size|floatformat:0}}px;">{{hashtag|truncatechars:10}}</span></a>
{% endfor %}{% else %}<p>{% trans "No recent hashtags!" %}</p>{% endif %}
</div>
