{% extends "base.html" %}
{% block content %}
<h1>Activation completed</h1>
Your account is now activated. <a href="{% url "login" %}">Log into</a> your account in order to get going.
{% endblock content %}
