{% extends "base.html" %}
{% load i18n %}
{#Display wrong password messages#}
{%block extra_messages%}{% if form.errors %}<ul class="messages"><li class="warning">{% trans "Your username and password did not match. Please try again." %}</li></ul>{% endif %}{%endblock extra_messages%}


{%block heading %}<h1>{% trans "Log in / Sign up" %}</h1>{%endblock%}


{%block content %}
<div class="loginform">
 <form action="{{request.META.PATH_INFO}}?{{request.META.QUERY_STRING}}" method="POST">{% csrf_token %}
 <table>{{form}}</table>
<input type="submit" value="Submit"/>
 </form>
</div>
<hr/>
<p>{% blocktrans with register='/accounts/register' %}If you don't have an account yet, you can <a href="{{ register }}">sign up</a> here.{% endblocktrans %}</p>

<p>{% url "password_reset" as password_reset %}{% blocktrans %}Forgot your password? <a href="{{ password_reset }}">Reset</a> it to a new one!{% endblocktrans %}</p>

<p>{% blocktrans %}You will be needing cookies in order to access that site as a logged in user. Do remember to allow cookies to domain <em>id3nt.i2p!</em>{% endblocktrans %}</p>

{% if next %}<p>{% blocktrans %}You will be redirected to {{next}} after submitting this form.{% endblocktrans %}</p>{% endif %}
{% endblock content %}
