{% extends "base.html" %}
{% block breadcrumb %}{{ block.super }}<a href="{% url "logout" %}">Log out</a>{% endblock %}
{% block content %}
<h1>Logged out</h1>

You have successfully logged out.
{% endblock content %}
