{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block heading %}<h1>{% trans 'Password change successful' %}</h1>{% endblock %}

{% block content %}
<p>{% trans 'Well done! Password successfully changed.' %}</p>
{% endblock %}
