{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}
{% block heading %}<h1>Password reset successful</h1>{% endblock %}

{% block content %}
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
{% endblock %}
