{% extends "base.html" %}
{% block heading %}<h1>Password reset</h1>{% endblock %}

{% block content %}
<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email"><b>E-mail address</b>:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>
{% endblock %}
