{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block heading %}<h1>{% trans 'Password change' %}</h1>{% endblock %}

{% block content %}
<div class="passwordform">
<form action="" method="post">{% csrf_token %}

{% if form.errors %}
    <p class="greenText">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

 <table>
  <tr>
   <td><label for="id_old_password" class="required">{% trans 'Old password' %}:</label></td>
   <td>{{ form.old_password.errors }} {{ form.old_password }}</td>
  </tr>
  <tr>
   <td><label for="id_new_password1" class="required">{% trans 'New password' %}:</label></td>
   <td>{{ form.new_password1.errors }} {{ form.new_password1 }}</td>
  </tr>
  <tr>
   <td><label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label></td>
   <td>{{ form.new_password2.errors }} {{ form.new_password2 }}</td>
  </tr>
  <tr><td colspan="2"><input type="submit" value="{% trans 'Change my password' %}" class="default" /></td></tr>
  </table>
  <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
 </form>
</div>
{% endblock %}
