{% extends "registration/registration_form.html" %}
{% block breadcrumb %}{{ block.super }}<a href="{% url "registration_complete" %}">Completed</a>{% endblock %}
{% block content %}
<h1>Sign up new user</h1>
The registration has been completed. Thank you. Check your mail in order to activate your new account. Once it has been activated you can log into your new user profile.

{% endblock content %}
