{% extends "base.html" %}
{% block heading %}<h1>Sign up new user</h1>{% endblock %}
{% block content %}
<form method="post">
<table class="registration">
{{form}}
{{f_lang}}
{% csrf_token %}
<tr><td colspan="2"><input type="submit" value="Register"/></td></tr>
</table>
</form>
{% endblock content %}
