{% extends "base.html" %}
{% load i18n %}
{% block heading %}<h1>{% trans "Confirm dent deletion!" %}</h1>{% endblock %}
{% block content %}
{% include "inc/dent.html" with dent=object %}
<form action="{{request.META.PATH_INFO}}?{{request.META.QUERY_STRING}}" method="post">
  <span class="greenText">{% blocktrans %}Dent disappearance imminent! Please press "Delete!" or go elsewhere!{% endblocktrans %}</span>
  <input type="submit" value="{% trans "DELETE!" %}"/>{% csrf_token %}
</form>

{% endblock content %}
