{% extends "base.html" %}
{% load i18n %}
{%block dentarea%}
<div class="dentry" id="dentry">
 <form action="{{request.META.PATH_INFO}}" name="dentForm" method="post">
 <table>{{form.as_table}}</table>
 {% csrf_token %}{% if request.GET.next%}<input type="hidden" name="next" value="{{request.GET.next}}"/>{%endif%}
 <input type="submit" value="{% trans "Dent this!" %}"/>
 </form>
</div>{%endblock dentarea%}
{%block title%}{% trans "Create/Edit dent" %}{%endblock%}
{%block heading%}{% if replied_dent%}<h1>{% blocktrans with d_id=replied_dent.id d_user=replied_dent.poster.username %}Reply to dent {{d_id}} by {{d_user}}{% endblocktrans %}</h1>{%endif%}{%endblock%}

{% block content %}{% if replied_dent %}
{%for dent in replied_dent.get_thread_list %}
{%include "inc/dent.html" with dent=dent contextual=1%}{%endfor%}
<script>document.dentForm.text.focus();</script>{%endif%}
{% endblock content %}
