{% extends "base.html" %}
{% load i18n %}
{%block dentarea%}
<div class="dentry" id="dentry">
 <form action="{{request.META.PATH_INFO}}" name="feedbackPrivatedentForm" method="post">
 <table>{{form.as_table}}</table>
 {% csrf_token %}{% if request.GET.next%}<input type="hidden" name="next" value="{{request.GET.next}}"/>{%endif%}
 <input type="submit" value="{% trans "Send Feedback" %}"/>
 </form>
</div>{%endblock dentarea%}
{%block title%}{% trans "Send Feedback" %}{%endblock%}
{%block heading%}<h1>{% trans "Send Feedback" %}</h1>{%endblock%}

{%block content%}
<p>{% blocktrans %}
We love to hear from you! If you have any comments, suggestions or feedback about ID3NT, you can use this form to send StalkMail to the admins.
{% endblocktrans %}</p>

<p>{% blocktrans %}
Please, only 1 bite of the feedback cherry per day to ensure we're not overrun by lovemail.
{% endblocktrans %}</p>
{%endblock%}
