{% extends "dent/privatedent_base.html" %}
{% load i18n %}
{% block heading %}<h1>{% trans "Confirm StalkMail deletion!" %}</h1>{% endblock %}
{% block content %}
{% include "inc/privatedent.html" with pdent=object %}
<form action="{{request.META.PATH_INFO}}?{{request.META.QUERY_STRING}}" method="post">
  <span class="greenText">{% blocktrans with other_user=object.rec_user %}You are about to delete this StalkMail! It will be deleted for both you and {{other_user}}. Please press "Delete!" or go back.{% endblocktrans %}</span>
  <input type="submit" value="{% trans "DELETE!" %}"/>{% csrf_token %}
</form>

{% endblock content %}
