{% extends "dent/privatedent_base.html" %}
{% load i18n %}

{%block title%}{% trans "StalkMail" %}{%endblock%}
{% block heading %}<h1>{{title}}</h1>{% endblock%}
{% block content %}
{% for pdent in pdent_list %}
{%include "inc/privatedent.html" with pdent=pdent%}
{% empty %}
<h2><div class="greenText">{% if recipient %}{% blocktrans with rec_user=recipient.username %}Sorry, no StalkMail with {{ rec_user }} could be found!{% endblocktrans %}{% else %}{% trans "You appear to have no StalkMail. Or friends. Or both." %}{% endif %}</div></h2>
{% endfor %}
{% if is_paginated %}{% load paginator %}{% paginator %}{% endif %}
{% endblock content %}

{%block sidebar_search%}<header><h1>{% trans "Search StalkMail" %}</h1></header><form action="{% url "submit_privatedent_search" %}" method="POST">
<input type="text" name="searchterm"/>{%csrf_token%}
</form>{%endblock sidebar_search%}

{% block sidebar_r %}
<h2>{% trans "StalkMail Targets" %}</h2>
<ul>
<li class="privatedentlist"><a href="{% url "privatedent_list" %}">{% trans "All StalkMail" %}</a></li>
{% if user.username in feedback_admins %}<li class="privatedentlist"><a href="{% url "privatedent_feedback_list" %}">{% trans "Feedback" %}</a></li>
{% endif %}{% for contact in user.followers.all %}
<li class="privatedentcontact"><a href="{% url "privatedent_user_list" contact %}">{{ contact }}</a></li>
{% endfor %}
</ul>
{% endblock sidebar_r %}
