{% extends "dent/privatedent_homepage.html" %}
{% load i18n %}
{% load statictheme from theme %}
{% block heading %}<h1>{% trans "StalkMail by Identist" %}</h1>{% endblock%}

{% block content %}<table class="pdentusers">
<tr><td colspan="2">{% trans "Identist" %} <a href="{% url "privatedent_by_username" %}"><img src="{% statictheme "images/sortup.png" %}"/></a><a href="{% url "privatedent_by_-username" %}"><img src="{% statictheme "images/sortdown.png" %}"/></a></td><td>{% trans "Last StalkMail received" %} <a href="{% url "privatedent_by_time" %}"><img src="{% statictheme "images/sortup.png" %}"/></a><a href="{% url "privatedent_by_-time" %}"><img src="{% statictheme "images/sortdown.png" %}"/></a></td></tr>
{% for pdent in object_list %}{% with user=pdent.poster %}
<tr><td><img src="{{user.profile.get_avatar_thumb_url}}" class="ava_thumb"/></td><td><a href="{% url "privatedent_user_list" user %}">{{user}}</a></td><td><header><span class="date">{{pdent.time|date:"G:i j/m/y"}}</span></header><p>{{pdent.text_as_html}}</p></td></tr>{%endwith%}{% endfor %}

{%if is_paginated %}<tr><td colspan="7">{% load paginator %}{% paginator 3 %}</td></tr>{%endif%}
</table>
{% endblock content %}
