{% extends "base.html" %}
{% load i18n %}
{%block dentarea%}
<div class="dentry" id="dentry">
  <form action="{% url "privatedent_create_view" %}" method="post" name="privatedentForm">
  <textarea id="id_text" name="text" cols="60" rows="3"></textarea>
  <input type="hidden" id="id_rec_user" name="rec_user" value="{{recipient.id}}" />
  <input type="hidden" name="next" value="{{request.path}}">
  {% if request.GET.next%}<input type="hidden" name="next" value="{{request.GET.next}}"/>{%endif%}
  <div><input type="submit" value="{% if recipient %}{% blocktrans with rec_user=recipient.username %}Send StalkMail to {{rec_user}}{% endblocktrans %}{% else %}{% trans "Send StalkMail" %}{% endif %}"/>{% csrf_token %}</div>
 </form>
</div>{%endblock dentarea%}
{%block title%}{% trans "Create/Edit StalkMail" %}{%endblock%}
{%block heading%}{% if recipient%}<h1>{% blocktrans with rec_user=recipient.username %}StalkMail with {{rec_user}}{% endblocktrans %}</h1>{%endif%}{%endblock%}
