{% extends "base.html" %}
{% load i18n %}
{%block dentarea%}
<div class="dentry" id="dentry">
 <form action="{{request.META.PATH_INFO}}" name="privatedentForm" method="post">
 <table>{{form.as_table}}</table>
 {% csrf_token %}{% if request.GET.next%}<input type="hidden" name="next" value="{{request.GET.next}}"/>{%endif%}
 <input type="submit" value="{% trans "Dent this!" %}"/>
 </form>
</div>{%endblock dentarea%}
{%block title%}{% trans "Create/Edit StalkMail" %}{%endblock%}
{%block heading%}{% if recipient%}<h1>{% blocktrans with rec_user=recipient.username %}StalkMail to {{rec_user}}{% endblocktrans %}</h1>{%endif%}{%endblock%}
