{% extends "base.html" %}
{% load i18n %}

{% block heading %}<h1>Dents with the hashtag "{{ hashtag }}"</h1>{% endblock %}
{% block content %}
{% for item in hashtagged_item_list reversed %}
{%include "inc/dent.html" with dent=item.content_object%}
{% empty %}
<h2><div class="greenText">{% trans "Boring topic, no dents." %}</div></h2>
{% endfor %}
{% if is_paginated %}{% load paginator %}{% paginator %}{% endif %}
{% endblock %}
