{% extends "homepage.html" %}
{% load i18n %}

{% block heading %}<h1>{% trans "Hashtag Index" %}</h1>{% endblock %}
{% block content %}
<ul>
{% for hashtag in hashtag_list %}
  <li><a href="{% url "hashtagged_item_list" hashtag %}">{{ hashtag }}</a></li>
{% endfor %}
</ul>
{% endblock content %}
