/* id3nt.i2p */
/* theme: corporat by dr|z3d */

/* =Reset
----------------------------------------------- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

body, section, div, form, label, input, span, li, p {
	margin: 0;
	padding: 0;
}


/* =Global
----------------------------------------------- */

body {
	background-color: #fff;
	color: #003;
	font-family: "Droid Sans", "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	font-size: 9pt;
    background: url("/static/themes/corporat/images/lyudi.png"), url("/static/themes/corporat/images/cctv.png"), -moz-linear-gradient(top, #bbf, #ddf);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fefeff));
/*    background-image: url("/static/images/topfrill.png"), url("/static/themes/burgundy/images/skyline.png"), url("/static/themes/burgundy/images/tile.png"), -moz-linear-gradient(top, #fff, #ddf); */
/*    background-image: url("/static/themes/burgundy/images/skyline.png"), url("/static/themes/burgundy/images/spyder.png"), url("/static/themes/burgundy/images/web.png"), url("/static/themes/burgundy/images/tile.png"), -moz-linear-gradient(top, #fff, #ddf);*/
    background-position: center bottom, 1% 38px, center center;
    background-repeat: repeat-x, no-repeat, repeat;
}

a:link {
	color: #119;
	text-decoration: none;
}

a:hover, a:focus {
	color: #803 !important;
	text-decoration: none;
}

a:visited {
	color: #22a;
}

a:active {
	color: #bbf;
}

a > img {border: 0px;} /*No border around image links*/

p {
	padding:0 10px 5px;
}

#messages a.dismiss {
	position: relative;
	float: right;
	padding: 3px;
}

ul.messages, ul.errorlist {
	color:#226;
	text-align:center;
	font-weight:700;
	list-style:none;
	padding:.5em 1em;
	margin:0;
}

ul.errorlist { /*Form errors*/
	color:#ECF566;
	text-align: left;
	background-color:#990000;
	font-weight:700;}

.clear{
	clear:both;
}

tt {
    color: #005500;
}

input[type=text], input[type=password] { 
     background: #ddf;
     color: #003;
     margin: 5px 5px 10px;
     padding: 2px;
     font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     border: 1px solid #99f !important;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     -moz-box-shadow: inset 2px 2px 2px 1px #000;
     -khtml-box-shadow: inset 2px 2px 2px 1px #000;
     box-shadow: inset 2px 2px 2px 1px #777;
	 width: 220px;
}

input[type=submit] {
     border-radius: 4px;
	 text-align: center !important;
	 padding: 0 5px;
	 font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	 margin: 1px 15px -2px 4px;
	 border: 1px inset #fff;
	 background: #ffd;
   color: #555;
}

input[type=submit]:hover {
	 background: #803;
	 color: #fff;
	 border: 1px outset #779;
}

hr {
     color: #99f;
     background: #99f;
     height: 1px;
     border: 0px solid #99f;
     margin: 15px 0px 10px;
}

form {
/*    text-align: right;*/
}

/* =Nav
----------------------------------------------- */

.topNav {
	background-color: #fff;
	border: solid #99f;
	border-width: 1px 0;
	text-align: right;
	height: 37px;
	font: bold .8em/37px "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	padding: 2px 5px 0 5px;
	-moz-box-shadow: 0 1px 3px #000;
	-webkit-box-shadow: 0 1px 3px #000;
	box-shadow: inset 0 0 1px #777;
    background: -moz-linear-gradient(top, color-stop(0.5, rgb(48,18,27)),#000, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbf));
	opacity: 1;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, rgb(34,8,4)),
    color-stop(0.51, rgb(67,4,4))
);


background-image: -moz-linear-gradient(
    center bottom,
    rgb(34,8,4) 50%,
    rgb(67,4,4) 51%
);
background-image: -moz-linear-gradient(center bottom , #ddf 50%, #fff 51%);
/*
    background-image: url("/static/images/navbg.png"), -moz-linear-gradient(center bottom , #bbf 50%, #fff 51%);
    background-position: center center, center center;
    background-repeat: repeat-x;
*/
    z-index: 999;
}



background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, rgb(48,18,27)),
    color-stop(0.55, rgb(112,26,26))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(48,18,27) 50%,
    rgb(112,26,26) 55%
);

.topNav:last-child {
	background-color: #000 !important;
}
	
.topNav > a {
	text-decoration: none;
/*	color: #77f; */
	padding: 0 10px;
	font-variant: small-caps;
	letter-spacing: 0.09em;
	font: bold 16px "Droid Serif", Georgia, "Times New Roman", Times, serif;
	text-shadow: 0 1px #fff;
	font-variant: small-caps;
}

.topNav > a:hover, .topNav > a:focus {
	color: #339;
}

.topNav .div_logo img {
	float: left;
	display: block;
	border-style: none;
	padding: 5px 0 2px 0;
     opacity: 0.7;
}

.topNav .div_logo img:hover {
     opacity: 1;
}


/* =Main
----------------------------------------------- */

.body {
	margin: 3px auto 0 auto;
	max-width: 750px;
}

.maincol {
	width: 550px;
	padding-right: 10px;
	vertical-align: top;
}

.content {
	border: 1px solid #99f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	padding: 10px 0px;
	opacity: 0.9;
	box-shadow: inset 0 0 1px 0 #777;
	margin: 6px -2px 10px 0;
    background: -moz-linear-gradient(top, #bbf, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#ddf), to(#fff));
    background-image: url("/static/themes/corporat/images/bottom.png"), -moz-linear-gradient(top, #fff, #ddf);
    background-position: center bottom, center center;
    background-repeat: no-repeat, repeat, repeat;
}

.content h1 {
	color: #337 !important;
	line-height: .9em;
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
	border: 1px solid #99f;
	border-top: 0px;
	padding: 8px 10px 10px;
	text-align: left;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background: #ddf;
	margin-top: -10px;
	margin-bottom: 8px;
	margin-right: -1px;
	margin-left: -1px;
	font-variant: small-caps;
	font-size: 11pt !important;
/*	text-shadow: 0 1px 1px #000;*/
     background: -moz-linear-gradient(top, #fff, #ddf);
     background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddf));
     background-image: -moz-linear-gradient(center bottom, rgb(34,8,4) 50%, rgb(67,4,4) 51%);
     background-image: -moz-linear-gradient(center bottom , #ddf 50%, #fff 51%);
/*
    background-image: url("/static/images/head.png"), -moz-linear-gradient(center bottom , #bbf 50%, #fff 51%);
    background-position: right center, center center;
    background-repeat: no-repeat, repeat;
*/
	box-shadow: inset 0 0 1px 0 #777;
}

.content h2 {
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 12pt;
	color: #003;
	margin: 0;
}

.content h2 span {
	color: #000;
	background-color: #f7f7f7;
}


.content h3 {
/*	font: bold 20px/24px "Droid Serif", Georgia, "Times New Roman", Times, serif;
	color: #526D0D;
	padding: 0.5em 1em;
*/
    margin-left: -10px !important;
    margin-right: -10px !important;
	font-size: 10pt;
	color: #003;
}


.content h4 {
	font: normal 20px/24px "Droid Serif", Georgia, "Times New Roman", Times, serif;
	color: #000;
	padding: 0 0 0 10px;
}

.content p a {
/*	color:#44f; */
	text-decoration:none;
}

.content p a:hover {
	text-decoration:none;
	color:#fa0;
}

.content table {
	border-collapse: collapse;	
	opacity: 1 !important;
	font-size: 7.5pt;
	margin: -8px -9px -9px 0px !important;
	width: 100%;
}

.content table a {
	font-size: 8pt;
}

.content tr {
	height: 48px;
	max-height: 48px !important;
	overflow: hidden;
     color: #003;
}

.content tr img {
	vertical-align: middle;
	padding: 5px;
}

.content tr:first-child{
	font-weight: bold;
	padding: 1px 5px !important;
	font-size: 10pt;
    font-variant: small-caps;
    line-height: 105%;
}

.content tr:nth-child(even) {
	background: #efefef;
	vertical-align: middle;
}

.content tr:nth-child(odd) {
	background: #fff;
	vertical-align: middle;
}

.content td:first-child {
	width: 60px !important;
	max-width: 60px !important;
	overflow: hidden;
	text-align: center;
}

.content td:nth-child(1), .content td:nth-child(3), .content td:nth-child(4) {
	text-align: center !important;
}

.content td:nth-child(4), .content td:nth-child(5) {
}

.content td:last-child {
	text-align: right !important;
	padding-right: 5px !important;
}

.content ul {
    margin-left: -28px;
	padding-right: 10px;
}

.content li {
    padding-bottom: 3px;
}

.content p {
     text-align: justify;
}

table.pdentusers header {
     font-weight: bold;
     padding-top: 3px;
}

.about {
	padding: 0 10px;
	text-align: justify;
	font-size: 9pt;
}

.about h2 {
	margin: 4px -10px 8px;
	letter-spacing: 0.07em;
}

.dentry {
	color: #4b2b3e;
	border: 1px solid #99f;
	border-top: none;
	text-align: center;
	margin-top: -6px;
	margin-bottom: 15px;
	padding: 13px 0 10px 0;
	border-radius: 0 0 3px 3px;
	background: #fff;
	box-shadow: inset 0 0 1px 0 #777;
	width: 100%;
 /*
    background: url("/static/images/scape.png"), -moz-linear-gradient(top, #fff, #ddf);
    background: url("/static/images/scape.png"), -webkit-gradient(linear, left top, left bottom, from(#490404), to(#fff));
    background-position: center center, center center;
    background-repeat: no-repeat, repeat;
*/
    background: -moz-linear-gradient(top, #fff, #ddf);
    background: -webkit-gradient(linear, left top, left bottom, from(#490404), to(#fff));
    background-position: center center;
    background-repeat: repeat;
}

.dentry textarea {
	border: 1px solid #99f;
	width: 93% !important;
	height: 48px !important;
	margin-bottom: 7px !important;
	background: #efefff;
	color: #003;
	font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif !important;
	font-size: 9pt;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     -moz-box-shadow: inset 2px 2px 2px 1px #000;
     -khtml-box-shadow: inset 2px 2px 2px 1px #000;
     box-shadow: inset 2px 2px 2px 1px #777;
	background-image: url("/static/themes/corporat/images/rat.png");
     background-position: right bottom;
     background-repeat: no-repeat;
    text-shadow: 0 1px 32px #f00;
    text-shadow: 0 1px 18px #DFF418;
    text-shadow: 0 1px 18px RGBA(180,220,18,0.6);
	color: #003;
	letter-spacing: 0.03em;
	padding: 0 3px;
}

.dentry  table {
    width: 100% !important;
}

.dent {
	min-height: 78px;
	background: url("/static/themes/corporat/images/eye_bg.png");
	background-position: right center;
	background-repeat: no-repeat;
	color: #003;
	opacity: 0.9;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	/*opacity for ie7 */
	filter: alpha(opacity=90);
	margin: 10px 6px;
	padding: 0px 10px;
	border: 1px solid #99f;
	border-radius: 3px;
	box-shadow: 0 1px 2px #777;
	background: #fff;
    word-wrap: break-word !important;
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #ddf);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddf));
    background-image: url("/static/themes/corporat/images/eye_bg.png"), -moz-linear-gradient(top, #fff, #ddf);
    background-position: center center, center bottom;
    background-repeat: no-repeat;
}

.dent:first-child {
	margin-top: -3px !important;
}

.dent:last-child {
	margin-bottom: -3px;
}

.dent header {
	background-color: #fff;
	color: #007;
	font-size: 8.5pt;
	border-bottom: 1px solid #99f;
	padding: 4px 6px;
	margin: 0px -10px;
/*	background-image: url("/static/themes/corporat/images/ident_eye_sm.png");
	background-position: 3px center;
	background-repeat: no-repeat; */
	text-align: right;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#115));
    background-image: -moz-linear-gradient(top, #fff, #ddf );
    background-position: center bottom;
/*
    background-image: url("/static/themes/burgundy/images/ident_eye_sm.png"), url("/static/images/navbg.png"), -moz-linear-gradient(top, #fff, #ddf);
    background-position: 5px center, center center, center bottom;
    background-repeat: no-repeat;
*/
}

.dent header .poster {
	float: left;
	margin-left: 3px;
	font-size: 110%;
	font-weight: bold;
}

.dent header a {
/*	color:#44f;*/
	text-shadow: 0 1px 1px #fff !important;
}

.dent header img {
    vertical-align: bottom;
}

.context {
    opacity: 0.8;
    color: #C69696;
}

.date {
    font-size: 7.5pt !important;
}

.dent p {
	padding: 4px 0 8px -20px !important;
	font-size: 9pt;
	margin-left: 38px;
	margin-right: -10px;
	vertical align: middle;
	text-align: justify;
	line-height: 117%;
	max-width: 500px;
	word-wrap: break-word;
	margin-top: 5px !important;
	margin-bottom: 1px !important;
}

#dentarea h5 {
	color:#000;
	text-transform:uppercase;
	font:bold 10px/11px "Droid Serif", Georgia, "Times New Roman", Times, serif;
}

.ava_thumb {
	/*	width: 100%;
		height: 40px; */
	vertical-align: middle;
	padding-right: 1px !important;
	max-height: 40px;
}

.dent .ava_thumb {
	border-right: 0px solid;
	padding-top: 7px !important;
	padding-left: 4px;
}

.dent a:link {
    text-decoration: none !important;
}

div.eycon {
	float: left;
	width: 40px;
	height: 50px;
	margin-left: -5px;
	margin-right: 11px;
	height: auto !important;
}

.greenText {
	color:#F1D319;
    padding: 10px;
	text-align: center;
}

#sidebar_r {
	vertical-align: top;
    word-wrap: break-word !important;
	width: 170px !important;
}

#sidebar_r > aside {
	background: #fff;
	border: 1px solid #99f;
     border-top: 0px;
	font-size: 8.5pt !important;
	padding: 0 5px 6px;
	border-radius: 0 0 3px 3px;
	box-shadow: inset 0 0 1px 0 #777;
	margin-top: -12px !important;
	color: #777;
    background: -moz-linear-gradient(top, #bbf, #ddf);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	margin-bottom: 10px;
/*    background-image: url("/static/images/l-twizzle.png"), url("/static/images/r-twizzle.png"), -moz-linear-gradient(top, #bbf, #bbf);
    background-position: left center, right center, center bottom;
    background-repeat: repeat-y;*/
    background-image: url("/static/themes/burgundy/images/handy.png"), -moz-linear-gradient(top, #fff, #ddf);
    background-position: center bottom, center center;
    background-repeat: no-repeat, repeat;
}

#sidebar_r h1, h2, #sidebar_r h3 {
	font-size: 11.5pt !important;
	border: 0px solid #2d0808;
/*	text-transform: uppercase; */
     font-variant: small-caps;
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
	margin: 0 -5px 5px -5px;
	background-color: #fff;
	padding: 2px 3px;
	border-top: 1px solid #99f;
	border-bottom: 1px solid #99f;
	text-shadow: 0 1px 1px #fff;
     color: #337 !important;  
     background: -webkit-gradient(linear, left top, left bottom, from(#ddf), to(#bbf));
     background-image: -moz-linear-gradient(center bottom , #ddf 50%, #fff 51%);

     word-wrap: break-word;
}

#sidebar_r h3 {
     width: 164px;
}

#sidebar_r h1 img, h2 img {
     float: right;
	text-align: right !important;
     padding-top: 2px;
     opacity: 0.5;
}

h2 img:hover {
     opacity: 1;
}

#sidebar_r h1:first-child {
/*	border-top: 0px solid;*/
	text-align: left;
	font-size: 10pt;
	max-width: 170px;
	overflow: hidden;
	padding-top: -2px !important;
}

#sidebar_r  h2 {
	margin-top: 5px !important;
	text-align: left;
}

#sidebar_r  ul {
    margin-top: 0;
}

#sidebar_r  li {
	border-bottom: 1px dotted #bbf;
    list-style: none;
	list-style-image:url("/static/themes/corporat/images/bullet.png");
	margin-left: -16px;
	text-align: left;
	font-size: 8.5pt !important;
	padding: 2px 0;
	margin-right: 6px;
}

.tool{
	list-style-image:url("/static/themes/corporat/images/bullet_tool.png") !important;
}

.privatedentlist {
	list-style-image:url("/static/themes/corporat/images/bullet_mail.png") !important;
}

.privatedentcontact {
	list-style-image:url("/static/themes/corporat/images/bullet_write.png") !important;
}

#sidebar_r  li:last-child {
    margin-bottom: -5px !important;
}

#sidebar_r i {
    font-style: normal;
	font-weight: bold;
}

#sidebar_r  p {
    text-align: left;
	color: #003;
	padding: 5px !important;
	max-width: 158px;
	margin: 8px 3px !important;
     border: 1px solid #99f;
     border-radius: 3px;
     box-shadow: 0 1px 2px #777;
     background: url("/static/themes/corporat/images/eyeshadow.png") center center no-repeat, -moz-linear-gradient(center bottom , #ddf 0%, #efefef 100%);
}

#sidebar_r hr {
     color: #bbf;
     background: #bbf;
     height: 1px;
     border: 0px solid #bbf;
     margin: 1px -5px;
}

#sidebar_r input[type=text] {
     background: #efefff;
/*	background-image: url("/static/themes/corporat/images/map.png");*/
     color: #003;
     margin: 5px;
     padding: 2px;
     font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     border: 1px solid #99f !important;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     -moz-box-shadow: inset 2px 2px 2px 1px #000;
     -khtml-box-shadow: inset 2px 2px 2px 1px #000;
     box-shadow: inset 2px 2px 2px 1px #777;
	 width: 140px !important;
}

#sidebar_r input[type=text]:selected {
     background: #ddf;
}

.loginform, .loginform table, .loginform tr, .loginform td, .identification, .identification table, .identification tr, .identification td  {
    font-size: 9pt !important;
	text-transform: lowercase !important;
    font-variant: normal !important;
	text-align: right !important;
}

.loginform td:last-child, .identification td:last-child {
    text-align: left !important;
	text-transform: none !important;
}

.loginform  ul {
	list-style-image:url("/static/images/woops.png");
	padding: 5px;
	margin-left: 50px !important;
}

.identification td:first-child {
     width: 37% !important;
	 text-align: right !important;
	 padding-right: 25px !important;
	 text-transform: capitalize !important;
	 font-weight: bold !important;
	 color: #003;
}

.identification  ul {
     display: none;
}

.membership a {
    font-weight: bold;
	font-size: 8.5pt;
}
.membership td:nth-child(1) {
    padding-left: 10px;
	width: auto !important;
	text-align: left !important;
}

.membership tr img {
    padding-left: 0px !important;
    margin-left: 0px !important;
	text-align: center !important;
}

.membership td:nth-child(3), .membership td:nth-child(4), .membership td:nth-child(5), .membership td:nth-child(6) {
	text-align: center !important;
}

.membership td:nth-child(3), .membership td:nth-child(5), .membership td:nth-child(7) {
    font-weight: bold;
	font-size: 8.5pt;
}

.membership td:nth-child(4) {
/*    font-style: italic;*/
}

.membership tr, .stats tr  {
	border-bottom: 1px dotted #99f;
}

.membership tr:last-child {
	border-bottom: none;
}

.membership tr:nth-child(1), .stats tr:nth-child(1) {
    color: #003;
	font-size: 8pt;
    padding-left: 5px;
	padding: 0 3px;
    background: -moz-linear-gradient(top, #fff, #ddf);
	border-bottom: 1px solid #99f !important;
	border-top: 0px solid #99f;
	text-shadow: 0 1px 1px #ddd;
}

.membership tr:nth-child(1) {
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #331010),
    color-stop(0.79, #61355E),
    color-stop(1, #784E74)
);
background-image: -moz-linear-gradient(
    center bottom,
    #fff 50%,
    #ddf 75%,
    #bbf 100%
);
}

.membership img {
    max-height: 40px;
	overflow: hidden;
}

.profileedit table {
}

.profileedit tr {
    border-bottom: 1px dotted #99f;
	padding: 10px !important;
	max-height: auto;
}

.profileedit tr:last-child {
    border-bottom: none;
    border-top: solid 1px #99f !important;
}

.profileedit tr:first-child, .profileedit {
    font-size: 8pt !important;
}

.profileedit tr:first-child {
    text-transform: normal;
	color: #ff0;
	font-variant: normal !important;
}

.profileedit tr:last-child {
	text-align: right !important;
}

.profileedit td, .profileedit td:last-child, .profileedit tr{
	text-align: left !important;
	color: #003 !important;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

.profileedit td:first-child {
	text-align: right !important;
	color: #0f0 !important;
	padding-right: 10px !important;
    font-size: 9pt;
    font-weight: bold;
	max-width: auto;
}

.profileedit .profileedit input[type=submit] {
    text-align: right !important;
}

.profileedit input[type=text], .profileedit input[type=password] { 
     background: #ddf;
     color: #003;
	 width: 420px;
	 margin-top: 5px !important;
	 margin-bottom: 5px !important;
}

.profileedit input[type=file] {
     background: #ddf;
     color: #003;
	 margin-top: 10px !important;
	 margin-bottom: 10px !important;
}

.stats img {
    max-width: 515px;
	margin: 0 10px 0px 10px;
	opacity: 0.8 !important;
	text-align: center;
	padding: 3px 7px;
}

.stats img:hover {
	opacity: 1 !important;
}

.stats p {
	text-align: center;
	border-top: 1px soild #99f;
	border-bottom: 1px solid #99f;
	padding: 5px 0;
	margin-top: 0px !important;
	background: #200;
	font-size: 9pt;
	font-weight: bold;
}

.stats table {
    margin-bottom: 0px !important;
	font-size: 8pt;
	text-align: center;
}

.stats td, .stats .tr, .stats td:last-child {
    text-align: center !important;
	padding: 5px !important;
}

textarea#id_user_css {
	border: 1px solid #99f;
	background: #ddf;
	color: #003;
	font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif !important;
	font-size: 9pt;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     -moz-box-shadow: inset 2px 2px 2px 1px #000;
     -khtml-box-shadow: inset 2px 2px 2px 1px #000;
     box-shadow: inset 2px 2px 2px 1px #777;
    text-shadow: 0 1px 32px #f00;
    text-shadow: 0 1px 18px #DFF418;
    text-shadow: 0 1px 18px RGBA(180,220,18,0.6);
	color: #003;
	letter-spacing: 0.03em;
	padding: 0 3px;
	width: 96%;
	background-image: url("/static/themes/corporat/images/rat.png");
     background-position: right bottom;
     background-repeat: no-repeat;
}

.helptext a, .profileedit a {
    font-size: 9.5pt !important;
	line-height: 200%;
}

.inactive {
    opacity: 0.6;
}

.inactive tr, .inactive td{
	border-bottom: 1px dotted #666 !important;
/*	background: #444;*/
}

.inactive tr:nth-child(odd) {
    background: #666 !important;
}

.inactive tr:nth-child(even) {
    background: #555 !important;
}

.identban {
    text-align: center;
	padding-top: 6px;
	margin: 1px -5px 2px;
}

.identban:first-child {
    border-top: 0 solid #f00 !important;
	opacity: 1;
}

.identban  img {
    opacity: 0.6;
}

.identban  img:first-child {
    opacity: 1;
}

.identban  img:last-child {
    opacity: 0.8;
}

.identban  img:hover {
    opacity: 1.0;
}

.pagination, .pagination a {
	text-align:center;
	font-size: 10pt !important;
}

.pagination .page, .pagination .page a {
	text-transform: uppercase;
	border: 1px solid #99f;
	margin-left: 1px;
	margin-right: 1px;
    padding: 0px 4px 2px;
	text-decoration: none;
	background-color: #fff;
	border-radius: 3px;
	font-weight: bold;
	text-decoration: none !important;
	padding: 2px 5px;
}

.pagination .page:hover,.pagination .page a:hover, .page:hover {
	background-color: #803 !important;
	border: 1px solid #803 !important;
	color: #fff !important;
}

.pagination .current_page, .pagination .current_page:hover {
	margin-left: 2px;
	padding-left: 10px !important;
	padding-right: 10px !important;	
	background-color: #803 !important;
	border: 1px solid #803 !important;
	color: #fff;
	padding: 1px 5px 2px;
}

.dentlink {
     float: left;
}

