{% extends "user/user.html" %}
{% load i18n %}
{% block breadcrumb %}{{ block.super }}<a href="">{% trans "Profile" %}</a>{% endblock %}
{% block content %}
<h1>{% blocktrans with name=u.username %}User profile for {{ name }}{% endblocktrans %}</h1>

<form action="{{request.META.DOCUMENT_URI}}" method="post" enctype="multipart/form-data">
<table>
{{form.as_table}}
<tr>
<td></td><td><input type="submit" value="{% trans "Submit changes" %}"/></td></tr>
</table>
{% csrf_token %}
</form>
{% endblock content %}
