{% extends "user/user.html" %}

{% block content %}
Content to be inserted here... Examples:<br/><br/>

* n mentions of you since last login (m total)<br/>
* n new dents since last login. See in chronological order here...<br/>
* n dents containing hashtags you stalk since last login. See in chronological order here...<br/>

{% endblock content %}
