{% extends "user/user.html" %}
{% load i18n %}
{%block heading%}<h1>{% blocktrans with name=u.username %}User profile for {{ name }}{% endblocktrans %}</h1>{%endblock%}
{% block content %}
<form action="{{request.META.DOCUMENT_URI}}" method="post" enctype="multipart/form-data">
<table class="profileedit">
{{form_email.as_table}}
{{form.as_table}}
{{form_site_setting}}
<tr>
<td></td><td><input type="submit" value="{% trans "Submit changes" %}"/></td></tr>
</table>
{% csrf_token %}
</form>
{% endblock content %}
