{% extends "user/user.html" %}
{% load i18n %}

{% block heading %}<h1>{% blocktrans with name=u.username|capfirst %}{{ name }}'s profile{% endblocktrans %} <a href="{% url "edit_profile" u.username %}"><input type="submit" value="{% trans "Edit" %}"/></a></h1>{% endblock %}
{% block content %}
<div class="identification">
<table class="profile">{% with u.profile as profile %}
<tr><td>{% trans "Avatard:" %}</td>
  <td>{% if profile.avatar %}
     <img src="{{MEDIA_URL}}{{profile.avatar}}"/>
     {% else %}{% url "edit_profile" u.username as edit_url %}{% blocktrans %}None yet, you are still a bum! Hurry, and <a href="{{ edit_url }}">upload one</a>.{% endblocktrans %}{%endif%}
  </td>
</tr>
<tr><td>{% trans "Joined:" %}</td><td>{{u.date_joined|date:"d M Y"}}{% if u.is_superuser %} and is a superuser{% endif%}</td></tr>
<tr><td>{% trans "Last login:" %}</td><td>{% blocktrans with duration=u.last_login|timesince %}{{duration}} ago{% endblocktrans %}</td></tr>
<tr><td>{% trans "E-mail:" %}</td><td> {{ u.email }} {%if profile.email_is_public %}{% trans "(is public)" %} {%endif%}</td></tr>
<tr><td>I2Pbote:</td><td>{%if profile.i2pbote %}{{ profile.i2pbote|slice:":30" }}&hellip;{%else%}{% blocktrans with url='http://i2pbote.i2p' %}None, why don't you <a href="{{url}}">get one</a>?{% endblocktrans %}{%endif%}</td></tr>
<tr><td>I2PMessenger:</td><td>{%if profile.i2pmessenger %}{{ profile.i2pmessenger|slice:":30" }}&hellip;{%else%}{% blocktrans with url='http://echelon.i2p/qti2pmessenger/' %}None, why don't you <a href="{{url}}">get one</a>?{% endblocktrans %}{%endif%}</td></tr>
<tr><td>Nightweb:</td><td>{%if profile.nightweb %}<a href="http://nightweb.net/#type=user&userhash={{profile.nightweb}}">{{ profile.nightweb|slice:":30" }}&hellip;</a>{%else%}{% blocktrans with url='https://nightweb.net/' %}None, why don't you <a href="{{url}}">get one</a>?{% endblocktrans %}{%endif%}</td></tr>
<tr class="off"><td>www:</td><td>{{ profile.homepage }}</td></tr>
<tr><td>{% trans "Description:" %}</td><td>{{ profile.description }}</td></tr>
<tr><td>{% trans "Language:" %}</td><td>{% if u.sitesettings.language %}{{ u.sitesettings.language }}{% else %}en{% endif %}</td></tr>
<tr><td>{% trans "Index page:" %}</td><td><a href="{% url "index" %}">{{ u.sitesettings.get_index_page_display }}</a></td></tr>
<tr><td>{% trans "Session timeout:" %}</td><td>{{ u.sitesettings.session_timeout }}</td></tr>
<tr><td>{% trans "Theme:" %}</td><td>{% if u.sitesettings.theme %}{{ u.sitesettings.theme }}{% else %}burgundy{% endif %}</td></tr>
<tr><td>{% trans "User CSS:" %}</td><td> {{ u.sitesettings.user_css }}</td></tr>
<tr><td>{% trans "Password:" %}</td><td>*** <a href="{% url "password_change" %}"><input type="submit" value="{% trans "Change Password" %}"/></a></td></tr>
<tr><td colspan="2"><a href="{% url "user_delete" u.username %}"><input type="submit" value="{% blocktrans %}Delete '{{u}}'{% endblocktrans %}"/></a> <b>{% trans "WARNING, there is no undelete!" %}</td></tr>
</table>{%endwith%}
<div>
{% endblock content %}
