{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load statictheme from theme %}
{% block heading %}<h1>{% trans "Members &amp; Tools" %}</h1>{% endblock%}

{% block content %}<table class="membership">
<tr><td colspan="2">{% trans "Identist" %} <a href="{% url "membership_by_username" %}"><img src="{% statictheme "images/sortup.png" %}"/></a><a href="{% url "membership_by_-username" %}"><img src="{% statictheme "images/sortdown.png" %}"/></a></td><td>{% trans "Dents" %} <a href="{% url "membership_by_dents" %}"><img src="{% statictheme "images/sortup.png" %}"/></a><a href="{% url "membership_by_-dents" %}"><img src="{% statictheme "images/sortdown.png" %}"/></a></td><td>{% trans "Last active" %} <a href="{% url "membership_page" %}"><img src="{% statictheme "images/sortup.png" %}"/></a><img src="{% statictheme "images/sortdown.png" %}"/></td><td><a href="{% url "membership_by_karma" %}">{% trans "Karma" %}</a></td><td>www</td><td>{% trans "Stalking" %}/<br/>{% trans "Stalked" %}</td></tr>
{% for user in object_list %}{% with profile=user.profile %}
<tr {% if user.profile.dent_count = 0%}class="inactive"{%endif%}><td><img src="{{profile.get_avatar_thumb_url}}" class="ava_thumb"/></td><td><a href="{{user.get_absolute_url}}">{{user}}</a></td><td>{{user.dent_set.count}}</td><td>{{ profile.last_dent_time|date}}</td><td>{{ profile.karma}}</td><td>{%if profile.homepage|slice:":4"|lower == "http" %}<a href="{{profile.homepage}}">www</a>{%endif%}</td><td>{{profile.subscriptions.count}}/{{user.followers.count}} {% if user != request.user %}{% if user in request.user.profile.subscriptions.all %}<a href="{% url "user_unfollow" user.username %}?next={{request.path}}"><img src="{% static "images/unstalk.png" %}" title="{% trans "Unstalk this target" %}"/></a>{%else%}<a href="{% url "user_follow" user.username %}?next={{request.path}}"><img src="{% static "images/stalk.png" %}" title="{% trans "Stalk this target" %}"/></a>{%endif%}{%endif%}</td></tr>{%endwith%}{% endfor %}

{%if is_paginated %}<tr><td colspan="7">{% load paginator %}{% paginator 3 %}</td></tr>{%endif%}
</table>
{% endblock content %}
