{% extends "base.html" %}
{% load i18n %}
{% block heading %}<h1>{% trans "Confirm user nukage!" %}</h1>{% endblock %}
{% block content %}
<h4><span class="greenText">{% blocktrans %}You are about to smoke this user, the associated profile and <b>all</b> their precious dents. Hit "Delete!" <i>only</i> if you are sure you REALLY want to do this, there is NO UNDO! Or, you can haz account deactivation, disabling login while retaining the user's profile and dents.{% endblocktrans %}</span></h4>

{% with profile=object.profile %}
<article class="greenText"><h3>User #{{object.id}}: {{object}} {% if object.first_name or object.last_name%}({{object.first_name}} {{object.last_name}}){%endif%} signed up on {{object.date_joined}} ({{object.date_joined|timesince}} ago). The user has posted a total of {{profile.dent_count}} dent{{profile.dent_count|pluralize}}.</h3>
<p>{% trans "The user's last 3 dents were:" %}</p>{% for dent in object.dent_set.all|slice:":3"%}{% include 'inc/dent.html' with dent=dent %}{%endfor%}</article>
{%endwith%}
<form action="{{request.META.PATH_INFO}}" method="post">
  <input type="submit" value="{% blocktrans %}DEACTIVATE '{{object}}' but KEEP related dents/votes!{% endblocktrans %}"/>
  {% csrf_token %}{% csrf_token %}
</form>
<br/>
<form action="{{request.META.PATH_INFO}}" method="post">
  <input type="hidden" name="realdelete" value="1"/>
  <input type="submit" value="{% blocktrans %}DELETE '{{object}}' and ALL related dents/votes !!!{% endblocktrans %}"/>{% csrf_token %}
</form>
{% endblock content %}
