{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_head %}<link rel="feed" href="{% url "latest_user_feed" u.username %}" type="application/rss+xml"/>{% endblock extra_head %}

{%block sidebar_r%}{%with u.profile as profile%}
  <h2>{{ u.username }} <a href="{% url "latest_user_feed" u.username %}"><img src="{% static "images/rss.png" %}" title="{% trans "User RSS feed" %}" /></a></h2>
  <div class="identban"><img src="{{MEDIA_URL}}{% if profile.avatar %}{{profile.avatar}}{%else%}avatars/_default.png{%endif%}"/></div>
{% if profile.homepage or profile.email_is_public or profile.i2pbote or profile.i2pmessenger %}
 <p>{%if profile.homepage %}<i>www:</i> {{profile.homepage|urlizetrunc:20}}{%endif%}
 {%if profile.email_is_public and u.email %}{% if profile.homepage %}<br/>{% endif %}<i>E:</i> {{u.email|urlizetrunc:20}}{%endif%}
 {%if profile.i2pbote %}{% if profile.homepage or profile.email_is_public %}<br/>{% endif %}<i>Bote:</i> <a href="i2pbote:{{profile.i2pbote}}">{{profile.i2pbote|slice:":10"}}&hellip;</a>{%endif%}
 {%if profile.i2pmessenger %}{% if profile.homepage or profile.email_is_public or profile.i2pbote %}<br/>{% endif %}<i>i2msn:</i> <a href="i2pmessenger:{{profile.i2pmessenger}}">{{profile.i2pmessenger|slice:":14"}}&hellip;</a>{%endif%}
 {%if profile.nightweb %}{% if profile.homepage or profile.email_is_public or profile.i2pbote or profile.i2pmessenger %}<br/>{% endif %}<i>NW:</i> <a href="http://nightweb.net/#type=user&userhash={{profile.nightweb}}">{{profile.nightweb|slice:":14"}}&hellip;</a>{%endif%}</p>
{% endif %}
<hr/>
{% if profile.description %}<p>{{profile.description}}</p>{% endif %}

<p><i>{% trans "Joined:" %}</i> {{u.date_joined|date:"M Y"}}<br/><i>{% trans "Dents:" %}</i> {{profile.dent_count}}<br/><i>{% trans "Karma rank:" %}</i> {{profile.karma}}</p>

<ul>
{#Stalk-o-vision link#}<li><a href="{% url "stalk-o-vision" u.username %}">{% trans "Stalk-o-vision" %}</a></li>
<li><a href="{% url "user_home" u.username %}/by_vote" title="{% trans "Denting All Stars" %}">{% if user == u %}{% trans "My bestest dents" %}{%else%}{% trans "Target's bestest dents" %}{%endif%}</a></li>
<li><a href="{% url "user_home" u.username %}/by_-vote" title="{% trans "Lame Ass Hall of Shizz" %}">{% if user == u %}{% trans "My failest dents" %}{%else%}{% trans "Target's failest dents" %}{%endif%}</a></li>
{% if user != u %}{% if user in profile.subscriptions.all and perms.dent.can_use_privatedents %}<li class="privatedentcontact"><a href="{% url "privatedent_user_list" u.username %}">{% trans "Send a StalkMail!" %}</a></li>{% endif %}
<li>{% if not u in user.profile.subscriptions.all %}<a href="{% url "user_follow" u.username %}?next={{request.path}}">{% trans "Stalk!" %}</a>{%else%}<a href="{% url "user_unfollow" u.username %}?next={{request.path}}">{% trans "Unstalk!" %}</a>{%endif%}</li>{%endif%}
</ul>

{%with u.profile.subscriptions.all as subscriptions%}{%if subscriptions%}
<h2>{% trans "Stalking" %}<a href="{% url "latest_stalking_feed" u.username %}"> <img src="{% static "images/rss.png" %}" title="{% trans "Stalking RSS feed" %}" /></a>
</h2>
<ul>
{%for sub in subscriptions %}
<li><a href="{{sub.get_absolute_url}}">{{sub}}</a></li>
{%endfor%}
</ul>{%endif%}{%endwith%}

{%if u.followers.all %}<h2>{% trans "Stalkers" %}</h2>
<ul>
{%for sub in u.followers.all %}
<li><a href="{{sub.user.get_absolute_url}}">{{sub}}</a></li>
{%endfor%}
</ul>{%endif%}
</div>{%endwith%}
{%endblock sidebar_r%}

{% block RSS_link %}{% endblock RSS_link %}

{% block heading %}<h1>{{ title }}{#Allow to delete a user user.delete_user permission#}{% if perms.auth.delete_user %}<a href="{% url "user_delete" u.username %}"><input type="submit" value="{% trans "NUKE user" %}"/></a>{%endif%}</h1>{%endblock%}
{% block content %}
{%for dent in object_list %}{%include "inc/dent.html" with dent=dent%}
{%empty%}<div class="greenText"><b>{%if friends%}{% blocktrans %}It seems that {{u}} isn't stalking anyone yet, or that no stalk target has dented anything yet...{% endblocktrans %}{%else%}{%if user == u %}{% blocktrans %}Hello {{u}}, now would be a good time to start denting. Do come up with something nice and intelligent rather than simply saying "hello world"...{% endblocktrans %}{%else%}{% blocktrans %}Mmmh, it appears that {{u}} is teh fail. No dents!{% endblocktrans %}{%endif%}{%endif%}</b></div>
{%endfor%}
{%if is_paginated %}{% load paginator %}{% paginator 3 %}{%endif%}
{% endblock content %}
