{% extends "base.html" %}
{% load i18n %}
{% block title %}Ident.i2p - 404 WTF?{%endblock%}
{% block heading %}<h1>404 WTF? - {% trans "Page not found" %}</h1>{%endblock%}
{% block content %}
<p class="alert">{% blocktrans %}Nope, sorry! Computer says no.
Check ur speeling perhaps?{% endblocktrans %}</p>
{% endblock content %}
