<!DOCTYPE html>{% load static from staticfiles %}{% load statictheme from theme %}
<html>
<head>
<meta charset="utf-8" />
<title>id3nt.i2p - 500 FML</title>
<!--[if lt IE 9]>
// teach older IEs to render those elements at all (http://diveintohtml5.org/semantics.html#unknown-elements)
<script>
  var e = ("abbr,article,aside,audio,canvas,datalist,details," +
    "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
    "progress,section,time,video").split(',');
  for (var i = 0; i < e.length; i++) {
    document.createElement(e[i]);
  }
</script>
<![endif]-->
<link href="{% statictheme "style.css" %}" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
</head>
<body>

<!-- navbar start -->
<nav class="topNav">
   <div class="div_logo"><a href="{% if user.is_authenticated %}{% url "homepage" %}{% else %}{% url "index" %}{% endif %}" title="Freshness guaranteed!" class="logo"><img src="{% statictheme "images/ident_header.png" %}" /></a></div>
   <a href="{% url "about_page" %}">About</a>
</nav>
<div class="clear"></div>
<!-- navbar end -->

<table class="body"><tr>
<!-- left main column containing content start -->
<td id="main" class="maincol">
<!-- body start -->
<section class="content">
<h1>500 FML - Server shit a load. Epic fail. Sorry.</h1>

<p class="alert">Oh, shit! Looks like something might have borked.
You could try again, or <a href="/feedback">send feedback</a> describing teh fail if it persists.</p>
</section>
</td>

<!-- sidebar start -->
<td id="sidebar_r"><aside id="sidebar_div">
<h2>Holy Shit(list)</h2>
<article>
<ul>
<li><a href="{% url "homepage" %}/by_vote" title="Denting All Stars">Top Quality Dents</a></li>
<li><a href="{% url "homepage" %}/by_-vote" title="Lame Ass Hall of Shizz">Accidents</a></li>
</ul>
{%if num_users%}<ul><li class="tool"><a href="/stats">Stats 'n Shizz</a></li></ul><p><b><i>{{num_users}} users, {{num_dents}} dents. Total votes: {{num_up_votes}}+/{{num_down_votes}}-</i></b></p>{%endif%}
</article>

{%if IdentNews%}<article id="IdentNews">
<h2>IdentNews <a href="{% url "latest_user_feed" IdentNews.user.username %}"><img src="{% static "images/rss.png" %}" title="IdentNews RSS feed" /></a></h2>
{% for dent in IdentNews.dents %}<p><img src="{% statictheme "images/bullet_nieuw.png" %}"/> {{dent.text_as_html}}</p>{%endfor%}
<ul><li><a href="{{ IdentNews.user.get_absolute_url }}">Moar IdentNews&hellip;</a></li></ul>
</article>{%endif%}

{%if dent_du_jour%}<h2>Dent du jour</h2><p>{{dent_du_jour.text_as_html}}<br/><a href="{{dent_du_jour.get_absolute_url}}">--{{dent_du_jour.poster}}</a> <span class="date">{{dent_du_jour.time|date:"j/m/y"}}</span></p>{%endif%}

<div class="identban"><a href="{% url "donate_page" %}"><img src="{% statictheme "images/redonate.png" %}"/></a></div></aside></td>
</tr></table>
<!-- body end -->	
</body>
</html>
