{% extends "base.html" %}
{% load i18n %}
{% block heading %}<h1>{% trans "A few words about ID3NT" %}</h1>{%endblock%}
{% block content %}
<div class="about">
<p>{% blocktrans %}
Welcome to ID3NT, the premier communications cult on the invisible
internet, and your newfound reason to carry on breathing! So far,
<b><i>{{num_users}} users</i></b> have been inculculated and shared
<b><i>{{num_dents}} dents</i></b>. We'd love for you to join the fun.
All you need is a username, a password and an IQ!
{% endblocktrans %}</p>

<p>{% blocktrans %}
An e-mail address is optional
and useful for password recovery purposes. A @mail.i2p address is
recommended for best results.
{% endblocktrans %}</p>

<h2>{% trans "Terms of Service & Some Guidelines" %}</h2>

<p>{% blocktrans %}
ID3NT provides the service for free to anyone who finds it useful,
however we reserve the right to burn, break, extinguish
or otherwise immolate any content or accounts that don't make the grade.
That includes deleting dents and users that we deem annoying, offensive
or worthless. Please remain polite and interesting, and don't abuse
the system by spamming it. We don't want to see your script inserting
the temperature of your CPU every 10 seconds, or nonsense such as
"LOL", "oooh", "hello world" or other content-free inanities.
Please be coherent, cogent, and concise. Make your dents stand out <i>in
their own right</i>. Entertaining and informative dents win the day!
{% endblocktrans %}</p>

<p>{% blocktrans %}
Note that while we do have a local backup system in place (to save
ID3NT from our own screwups), it is not religiously backed up
off-site. So don't complain if a catastrophy happens and some dents of
yours are lost. Also, when you delete your profile, do note that unlike
other purveyors of inferior jizz, we REALLY delete you and your dents.
Nuked, deleted, expunged. And backups refreshed. Really, <b>not
recoverable</b>.
{% endblocktrans %}</p>

<p>{% blocktrans %}
Ohh, and we don't save your password in clear-text, so we cannot send
it to you if you have it lost. However, we do offer a password-reset function
via email, so it makes sense to add some email address to your profile
(public display of your address is optional). If you're the kind of
clown that loses passwords quicker than you can say "what's my name again?",
please <b>do</b> supply us with an e-mail account (@mail.i2p recommended) to
avoid future tard-rage.
{% endblocktrans %}</p>

<p>{% blocktrans %}
Usually we are a pretty tolerant bunch here at ID3NT, but in the unlikely
event we disapprove of anything you do, we reserve the right to pull the plug
to your account. In case of jizztastic content, suspected sockpuppet accounts,
spammers, persistent tards or anything else irksome or dubious, ID3NT reserves
the right to take measures as it sees fit to address teh fail, including dent
and account removal at our sole discretion.
{% endblocktrans %}</p>

<h2><a id="ref-api"></a>API</h2>
<p>{% url "api_usage" as usage_url %}{% blocktrans %}
There are a number of RSS feeds and API commands that you can use
in order to automate things, using external tools. The API usage is
documented <a href="{{ usage_url }}">here</a>.
{% endblocktrans %}</p>

<h2><a id="ref-contact"></a>{% trans "Contact" %}</h2>

<p>{% url "feedback_page" as feedback_url %}{% blocktrans %}
If you have a question, request or complaint please take advantage of the
<a href="{{ feedback_url }}">Feedback facility</a> and let us know what doesn't work,
should be improved, or why you've decided to donate us some Bitcoins!
{% endblocktrans %}</p>

<p>{% blocktrans %}
Please do not hesitate to contact ID3NT in the event you have ideas and
suggestions for improvement, bug reports, or just wish to heap effusive
praise on us. Also do note teh Redonate button on the sidebar if textual
appreciation simply doesn't express the depth of your love.
{% endblocktrans %}</p>

<h2><a id="ref-ident"></a>{% trans "Source code" %}</h2>

<p>{% blocktrans %}
ID3NT was original crafted by halebopp's bare hands, in Python using
<a href="http://djangoproject.com/">Django</a>, and latterly resurrected
by <a href="/u/str4d/">str4d</a> who brings his own ninja coding skills to
the party, ensuring ID3NT continues to pwn! <a href="/u/z3d/">dr|z3d</a>
remains the guardian of all things pretty and witty and occasionally shitty
(ymmv). The code is licensed under the GNU GPLv3 (or at you option any
later version).{% endblocktrans %}<br/>

{% blocktrans %}You can grab the sourcecode via git. Just pull
<tt>http_proxy=localhost:4444 git clone
http://git.repo.i2p/r/ident.git</tt> if you have a normal I2P setup.
{% endblocktrans %}</p>

<p>{% blocktrans %}
A web frontend and git:// URL instructions are available
at <a href="http://git.repo.i2p/w/ident.git">http://git.repo.i2p</a>.
{% endblocktrans %}</p>


<h2><a id="ref-props"></a>{% trans "Developers and owners" %}</h2>
<p>{% blocktrans %}
ident.i2p was forged in the bowels of halebopp's imaginings.
Alas, he disappeared, citing impending famine and having a life as
compelling reasons. The good news is he generously gifted the code
to the community, and thusly a reborn incarnation at id3nt.i2p is
being now being lovingly hosted and nurtured by
<a href="/u/str4d/">str4d</a>, in collaboration with
<a href="/u/z3d/">dr|z3d</a> who handles design 'n vibes.
{% endblocktrans %}</p>
</div>
{% endblock content %}
