<!DOCTYPE html>{% load i18n %}{% load static from staticfiles %}{% load statictheme from theme %}
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}id3nt.i2p{% endblock title %}</title>
<!--[if lt IE 9]>
// teach older IEs to render those elements at all (http://diveintohtml5.org/semantics.html#unknown-elements)
<script>
  var e = ("abbr,article,aside,audio,canvas,datalist,details," +
    "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
    "progress,section,time,video").split(',');
  for (var i = 0; i < e.length; i++) {
    document.createElement(e[i]);
  }
</script>
<![endif]-->
{%if request.GET.css%}<link href="{{request.GET.css}}" rel="stylesheet" type="text/css" />{%else%}
<link href="{% statictheme "style.css" %}" rel="stylesheet" type="text/css" />{%endif%}{% if user.sitesettings.user_css %}
<style  type="text/css">{{ user.sitesettings.user_css|safe }}</style>{%endif%}
<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
{% block extra_head %}{% endblock extra_head %}
</head>
<body>
<section id="messages">
{% if messages %}<a class="dismiss" href="{% url "message_mark_all_read" %}" title="{% trans "Make the shizz disappear!" %}"><img src="{% statictheme "images/dismiss.png" %}" alt="X"/></a><ul class="messages">
    {% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{% endfor %}
</ul>{% endif %}{%block extra_messages%}{%endblock%}
</section>

{% include "inc/navbar.html" with top=1 %}
<table class="body"><tr>
<!-- left main column containing content start -->
<td id="main" class="maincol">
{%block dentarea%}
{% if user.is_authenticated %}<div class="dentry" id="dentry">
  <form action="{% url "dent_create_view" %}" method="post" name="dentForm">
  <textarea id="id_text" name="text" cols="60" rows="3"></textarea>
  <input type="hidden" name="next" value="{{request.path}}">
  {% if request.GET.next%}<input type="hidden" name="next" value="{{request.GET.next}}"/>{%endif%}
  <div><input type="submit" value="{% trans "Dent This!" %}">{% csrf_token %}
  </div></form>
  </div>{% endif %}
{%endblock dentarea%}
<!-- body start -->
<section class="content">
{%block heading%}<h1>{{ heading }}</h1>{%endblock%}
{%block content%}
 {{ content }}
{%endblock content%}</section>
</td>
<!-- sidebar start -->
<td id="sidebar_r"><aside id="sidebar_div">{% if user.is_authenticated %}{% with user.profile as profile %}
<article>{%block sidebar_search%}<header><h1>{% trans "Search" %}</h1></header><form action="{% url "submit_search" %}" method="POST">
<input type="text" name="searchterm"/>{%csrf_token%}
</form>{%endblock sidebar_search%}</article>
<article id="logged_in">
<h2>{% trans "IdentiKit" %}</h2>
<ul>
<li><a href="{% url "user_home" user.username %}">{% blocktrans with user=user.username %}{{user}}'s Dents{% endblocktrans %}</a></li>
<li class="tool"><a href="{% url "profilepage" user.username %}">{% trans "Identification" %}</a></li>
{% if perms.dent.can_use_privatedents %}<li class="privatedentlist"><a href="{% url "privatedent_users_list" %}">{% trans "StalkMail" %}</a></li>
{% endif %}<li class="privatedentcontact"><a href="{% url "feedback_page" %}">{% trans "Send Feedback" %}</a></li>
<li class="tool"><a href="{% url "logout" %}?next={{request.path}}">{% trans "Log My Ass Out" %}</a></li>
</ul>
</article>{% endwith %}{% endif %}{%block sidebar_r%}
<h2>{% trans "Holy Shit(list)" %}</h2>
<article>
<ul>
<li><a href="{% url "homepage" %}/by_vote" title="{% trans "Denting All Stars" %}">{% trans "Top Quality Dents" %}</a></li>
<li><a href="{% url "homepage" %}/by_-vote" title="{% trans "Lame Ass Hall of Shizz" %}">{% trans "Accidents" %}</a></li>
</ul>
{%if num_users%}<ul><li class="tool"><a href="/stats">{% trans "Stats 'n Shizz" %}</a></li></ul><p><b><i>{% blocktrans %}{{num_users}} users, {{num_dents}} dents. Total votes:{% endblocktrans %} {{num_up_votes}}+/{{num_down_votes}}-</i></b></p>{%endif%}
</article>

<h2>{% trans "Latest Hashtags" %}</h2>
<article>
{% load dent_tags %}{% include_latest_tagcloud %}
</article>

{%if IdentNews%}<article id="IdentNews">
<h2>{% trans "IdentNews" %} <a href="{% url "latest_user_feed" IdentNews.user.username %}"><img src="{% static "images/rss.png" %}" title="{% trans "IdentNews RSS feed" %}" /></a></h2>
{% for dent in IdentNews.dents %}<p><img src="{% statictheme "images/bullet_nieuw.png" %}"/> {{dent.text_as_html}}</p>{%endfor%}
<ul><li><a href="{{ IdentNews.user.get_absolute_url }}">{% trans "Moar IdentNews&hellip;" %}</a></li></ul>
</article>{%endif%}

{%if dent_du_jour%}<h2>{% trans "Dent du jour" %}</h2><p>{{dent_du_jour.text_as_html}}<br/><a href="{{dent_du_jour.get_absolute_url}}">--{{dent_du_jour.poster}}</a> <span class="date">{{dent_du_jour.time|date:"j/m/y"}}</span></p>{%endif%}
{%endblock sidebar_r%}

<div class="identban"><a href="{% url "donate_page" %}"><img src="{% statictheme "images/redonate.png" %}"/></a></div></aside></td>
</tr></table>
<!-- body end -->	
{% include "inc/navbar.html" %}
</body>
</html>
