{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block heading %}<h1>{% trans "Support id3nt.i2p" %}</h1>{%endblock%}
{% block content %}
<div class="about">
<p>{% blocktrans %}
ID3NT is a completely free self-enslavement service, but if you enjoy
ID3NT and want to help it stay online, donations are joyously received.
{% endblocktrans %}</p>

<p>{% blocktrans %}
These donations are earmarked for Russian brides, expensive jewelry &amp;
fast cars and would NEVER be used for something as mundane
as paying for a server or putting food on the table!
{% endblocktrans %}</p>

<h2>ReDonate</h2>

<p>{% blocktrans %}
<a href="http://redonate.net/">ReDonate</a> is a nifty website that enables
users to set up recurring donations
without being automatically charged every month. Hit the button below to see
our ReDonate campaign (NOTE: clearnet URL, i.e. outside I2P).
{% endblocktrans %}</p>

<p><a href="http://redonate.net/campaign/id3nt"><img src="{% static "images/redonate_button.png" %}" alt="{% trans "Check out our ReDonate campaign!" %}"/></a></p>

<h2>Bitcoin</h2>

<p>{% blocktrans with address="1F1xuoCixzZbs63brA1Kvs1PYRpWxXJ7rK" label="?label=ID3NT" %}
You can just zap us over some Bitcoins directly if you prefer;
our donation address is <a href="bitcoin:{{ address }}{{ label }}"><code>{{ address }}</code></a>
{% endblocktrans %}</p>
</div>
{% endblock content %}
