{% extends "homepage.html" %}
{%block heading %}<h1>Not Available In Your Area!</h1>{%endblock%}
{%block content %}
<article class="dent"><header><a href="" class="poster">ID3NT.I2P</a> <span class="date">{% now "G:i j/m/y" %}</span> | 0 votes | <a href="">Reply</a> | <a href="">Link</a></header><div class="eycon"><img src="/media/avatars/avatar_10.thumbnail.png" class="ava_thumb"/></div>
<p>Welcome to ID3NT, the new communications hub on the 
Invisible Internet, an encrypted, anonymized network free from 
censorship and state oversight! Anonymous e-mail, web browsing, 
chatting, filesharing, web serving and of course denting are 
just some of the delights available. For full access to 
ID3NT and the Invisible Internet, please visit 
<a href="http://geti2p.net">http://geti2p.net</a>.</p>
</article>

{%for dent in dent_list|slice:"0:5"%}
{%include "inc/dent.html" with dent=dent%}
{%endfor%}
{%endblock content %}
