{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}<link rel="feed" href="/feed" />{% endblock extra_head %}

{% block heading %}<h1>{{title}}</h1>{% endblock%}
{% block content %}
{% for dent in dent_list %}
{%include "inc/dent.html" with dent=dent%}
{% empty %}
<h2><div class="greenText">{% trans "Nothing. Dent Cupboard Bare. Get denting looser!" %}</div></h2>
{% endfor %}
{% if is_paginated %}{% load paginator %}{% paginator %}{% endif %}
{% endblock content %}
