{% extends "base.html" %}
{% load i18n %}
{% block content %}
<form action="{{request.META.DOCUMENT_URI}}" method="POST">
{% trans "Find:" %} <input type="text" name="searchterm"/>
<input type="submit" value="{% trans "Submit Query" %}"/>{% csrf_token %}
</form>
{% endblock content %}

