{% extends "base.html" %}
{% load i18n %}

{% block heading %}<h1>{% trans "ID3NT STATS 'N FIGURES" %}</h1>{% endblock%}
{% block content %}<div class="stats">
<table class="dentstats">
<tr><th></th><th>{% trans "Last 24h" %}</th><th>{% trans "Last week" %}</th><th>{% trans "Total" %}</th></tr>
{%for col in dent_stats%}
<tr><th>{{col.td}}</th><td>{{col.1d}}</td><td>{{col.1w}}</td><td>{{col.total}}</td></tr>{%endfor%}
</table>

<p>{% blocktrans %}Overall: {{reply_share}}% of all dents are having a conversation party.{% endblocktrans %}</p>

<p>{% blocktrans with user_url=latest_user.get_absolute_url %}A BIG ID3NT welcome to <a href="{{user_url}}">{{latest_user}}</a>, our latest pressganged recruit!{% endblocktrans %}</p>

<br/><img src="/media/stat.png">
<br/><img src="/media/vote_stat.png"></div>
{% endblock content %}
