{% extends "base.html" %}
{% load i18n %}
{% block breadcrumb %}{{ block.super }}<a href="{% url "main_about_page" %}">{% trans "About" %}</a>{% endblock %}
{% block heading %}<h1>{% trans "API and Usage Howto" %}</h1>{%endblock%}
{% block content %}<div class="about">
<p>{% blocktrans %}
This is still a very rough draft of what could morph into an API
documentation. However, so far it consists mostly of rough notes and
ideas as I go along. Feel free to help improve this document.
{% endblocktrans %}</p>

<p>{% blocktrans %}
In general all functions can be automated, since they are simple
GET or POST operations via http. Those views that require a valid
login, need to send a session cookie. Using wget or curl, it should
thus be possible to perform any operation with a few lines of
scripting.
{% endblocktrans %}</p>

<h2>Twitter API</h2>

<p>{% blocktrans %}
Twitter's API version 1.1 has been (mostly) implemented, and Id3nt can now be
used with any Twitter client that provides API configuration for accounts.
{% endblocktrans %}</p>

<ul>
<li><b>API URL:</b> <code>http://id3nt.i2p/api/twitter/1.1/</code>
<ul>
<li>Configure your client's HTTP proxy to <code>127.0.0.1:4444</code>. This
works for Android clients too, if you have I2P Android installed.</li>
<li>For clients like Twidere, use <code>http://id3nt.i2p/api/twitter/</code>
and leave "No version suffix" unticked.</li>
</ul></li>
<li><b>Authentication:</b> Basic
<ul>
<li>Do <b>NOT</b> connect to the API via an inproxy, your password <b>WILL</b>
be transmitted insecurely!</li>
<li>OAuth is implemented, but I could not get it to work with Twidere.</li>
</ul></li>
</ul>

<h2>{% trans "Useful URLs for automated parsing" %}:</h2>
<ul>
<li>{% blocktrans %}<b>Last dent time:</b> HTTP HEAD on "<tt>/</tt>" leads to a
Last-Modified: header giving the latest dent post overall. Similarly,
a HEAD operation on a user home page,
e.g. <tt>http://id3nt.i2p/u/IdentNews/</tt> will return a Last-Modified
header that reflects the last posting time of that user.{% endblocktrans %}</li>

<li>{% blocktrans %}<b>Overall RSS feed:</b> "<tt>/feed</tt>" gives you the latest 30
overall dents as RSS feed. Attributes of the items are pubdate,
author, description, link.

Without special casing, you receive the latest 30 overall dents as RSS
feed. If you send a <tt>If-Last-Modified: Mon, 23 May 2011 19:34:05
+0000'</tt> you will get a HTTP 304 NOT MODIFIED status response, if
there is no newer dent. If there are dents past the
Last-Modified-Date, the 30 latest feeds past than date that you have
specified will be returned (for weird technical reasons in ascending
time order). This way, you can iteratively fetch the whole dent stream
via RSS.{% endblocktrans %}</li>

<li>{% blocktrans %}<b>User RSS feed:</b> the user feed can be reached under
eg. <tt>/u/IdentNews/feed</tt> and gives the latest 30 dents by that
user as RSS feed.{% endblocktrans %}</li>

<li>{% blocktrans %}<b>Stalking RSS feed:</b> each user has an RSS feed that includes
the latest 30 dents of her stalking targets. It can be found
at <tt>/u/IdentNews/stalking/feed</tt>{% endblocktrans %}</li>
</ul>

<h3>{% trans "Sort order" %}</h3>
<p>{% blocktrans %}
Any list-based dent view, ie Homepage, user home and
stalk-o-vision, now allows to
append <tt>/by_time</tt> <tt>/by_-time</tt> <tt>/by_vote</tt>
or <tt>/by_-vote</tt> to the URL to get your sorting in different
order. (this is not yet possible for RSS feeds, but should be
implemented)
{% endblocktrans %}</p>

<h2>{% trans "API usage" %}</h2>
<p>{% blocktrans %}
Besides RSS feeds, id3nt.i2p provides a real API that delivers
information back as json objext. All queries to the API start
with <tt>/api/_apinumber_/*</tt> (_apinumber_ currently being
1). None of the queries will require to be logged in pre-query, but
some will require a user name/password being passed in. Ident.i2p will
most probably implement a rate-limit of queries that can be performed
on a per-user basis.
{% endblocktrans %}</p>

<h3>{% trans "List all users" %}</h3>
<p><b>/api/1/u/</b> Example: <tt>http://id3nt.i2p/api/1/u/</tt></p>

<p><i>Returns:</i> a json dict, containing the user names of all
users. NOTE that the return format of this response is not finalized
yet and still due to change even withing API version 1.</p>

<h3>{% trans "Retrieve user info" %}</h3>
<p><b>/api/1/u/&lt;username&gt;/</b>
or <b>/api/1/u/id_&lt;userid&gt;/</b>
Example: <tt>http://id3nt.i2p/api/1/u/IdentNews/</tt>
or <tt>http://id3nt.i2p/api/1/u/id_1/</tt></p>

<p><i>Returns:</i> a json dict, containing basic and public information
on the user, such as the date joined, homepage, email (if public),
number of dents, karma points, last dent, etc. The attributes
"stalkers" and "stalking" contain an array of user names that are
staking/being stalked by the user.  If the user does not exist, an
Error 404 will be returned.</p>

<h3>{% trans "Retrieve last user dent" %}</h3>
<p><b>/api/1/u/&lt;username&gt;/d/last/</b> Example: <tt>
http://id3nt.i2p/api/1/u/IdentNews/d/last/</tt> Gives you the last user
dent as json object. Yeah, yeah, you want all the others too. SO far,
be happy with just the latest one :).</p>

<h3>{% trans "Post a dent" %}</h3>
<p><b>/api/1/d/create/</b> Example: <tt>
http://id3nt.i2p/api/1/d/create/</tt> This lets you post a new
dent. You need to submit a POST request against the URL, containing
the following fields: user, password, text.</p>
<p>A simply, practical example of how to post a new dent using curl
would be:
<tt>http_proxy=localhost:4444 curl
-d"user=USERNAME&password=PASSWORD&text2='blah blah'"
http://id3nt.i2p/api/1/d/create/</tt>.</p>
<p><i>Returns:</i> On success, you will receive a HTTP 200 code, on
auth errors a 404 (also if you try to post too often), and if the form contains errors a 412. In case of
errors, you get a json object that contains the following:
{'error':'dscription of error'} and in the case of form errors, the
object will also contain: 'fields':{'field1': 'error reason blah',
'field2':'...', ...}</p>

</div>{% endblock content %}
