{% extends "base.html" %}
{% block title %}Ident.i2p - Authorize Token{%endblock%}
{% block heading %}<h1>Authorize Token</h1>{%endblock%}
{% block content %}
    <form action="{% url piston.authentication.oauth_user_auth %}" method="POST">
        {{ form.oauth_token }}
        {{ form.oauth_callback }}
        {{ form.csrf_signature }}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <input type="hidden" name="authorize_access" value="on">
        <input type="submit" value="Allow"> or <a href="{% url "homepage" %}">cancel</a>
    </form>
{% endblock content %}
