{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Authorize app' %}{% endblock %}
{% block heading %}<h1>{% trans 'Authorize app' %} {{request_token.consumer.name}}?</h1>{% endblock %}

{% block content %}
<div class="passwordform">
<form action="" method="post">{% csrf_token %}
<p>{% trans "If you want to allow this app to use your account, check the box below." %}</p>

 <table>
  <tr>
   <th><label for="id_authorize_access">Authorize access:</label></th>
   <td>
    <input id="id_authorize_access" name="authorize_access" type="checkbox" />
    <input id="id_oauth_token" name="oauth_token" value="{{request_token.key}}" type="hidden" />
   </td>
  </tr>
  <tr>
   <td colspan="2">
    <input type="submit" value="{% trans 'Submit' %}" class="default" />
   </td>
  </tr>
 </table>
</form>
</div>
{% endblock %}
