{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'App authorized' %}{% endblock %}
{% block heading %}<h1>{% trans 'App authorized' %}</h1>{% endblock %}

{% block content %}
<div class="passwordform">
<p>Verification code:</p>
<h2 align="center">{{verifier}}</h2>
</div>
{% endblock %}
